<div class="display-container">
    <h1 class="title">Alien Translator</h1>
    <div class="display">
        <% if @previous_translation == nil %>
            <h2>No previous translation</h2>
        <% else %>
            <h2>Gorbyoyo</h2>
            <h3 class="display-text"><%= @previous_translation.gorbyoyo %></h3>
            <h2>English</h2>
            <h3 class="display-text"><%= @previous_translation.english %></h3>
        <% end %>
    </div>
</div>
<div class="input">
    <form class="input-form" class="translate-phrase" action="/translate" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <p>Input a phrase here to translate to Gorbyoyo.</p>
        <div></div>
        <input type="text" name="translation[english]" id="english-input">
        <div></div>
        <input type="submit">
    </form>
</div>

<nav class="main-menu">
    <ul>
        <li>
            <i class="fa fa-bars fa-2x"></i>
            <span class="nav-text">
                Past Searches
            </span>
        </li>
        <% if @translations.length > 10 %>
            <% (1..10).each do |i| %>
                <li class="has-subnav">
                    <%= link_to past_search_path_url(:id => @translations[@translations.length - i].id), method: :post do%>
                        <i class="fa fa-microphone fa-2x"></i>
                        <span class="nav-text">
                            <%= @translations[@translations.length - i].english %>
                        </span>
                    <% end %>
                </li>
            <% end %>
        <% else %>
            <% (1..@translations.length).each do |i| %>
                <li class="has-subnav">
                    <%= link_to past_search_path_url(:id => @translations[@translations.length - i].id), method: :post do%>
                        <i class="fa fa-microphone fa-2x"></i>
                        <span class="nav-text">
                            <%= @translations[@translations.length - i].english %>
                        </span>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>                
</nav>